<html>
<head>
<title>Télécommande2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Télécommande2.psd) -->
<table id="Tableau_01" width="305" height="427" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<a href="mph?move=left_up">
				<img src="images/left_up_bw.png" width="101" height="115" alt=""></a></td>
		<td>
			<a href="mph?move=up">
				<img src="images/up_bw.png" width="102" height="115" alt=""></a></td>
		<td>
			<a href="mph?move=right_up">
				<img src="images/right_up_bw.png" width="102" height="115" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="mph?move=left">
				<img src="images/left_bw.png" width="101" height="100" alt=""></a></td>
		<td>
			
			<a href="mph?move=stop">
				<img src="images/stop.png" width="102" height="100" alt=""></a></td>
		<td>
			<a href="mph?move=right">
				<img src="images/right_bw.png" width="102" height="100" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="mph?move=left_down">
				<img src="images/left_down_bw.png" width="101" height="112" alt=""></a></td>
		<td>
			<a href="mph?move=down">
				<img src="images/down_bw.png" width="102" height="112" alt=""></a></td>
		<td>
			<a href="mph?move=right_down">
				<img src="images/right_down_bw.png" width="102" height="112" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<a href="mph?speed=slow">
				<img src="images/slow.png" width="101" height="100" alt=""></a></td>
		<td>
			<a href="mph?speed=medium">
				<img src="images/medium_bw.png" width="102" height="100" alt=""></a></td>
		<td>
			<a href="mph?speed=fast">
				<img src="images/fast_bw.png" width="102" height="100" alt=""></a></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>