<!DOCTYPE html>
<html>
<head>
    <title>ITC Configuration {{ hostname }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/acp.css') }}" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<script>
function selectChange() {
    document.getElementById("btn_config_form").submit();
}

</script>
<form action="/buttons" method="post" name="btn_config_form" id="btn_config_form">

    <table id="cadre">
        <tr>
            <td>
                <h3>Configuration des boutons pour {{ hostname }}</h3>
            </td>
        </tr>
        {% for button_name, button in buttons.items() %}
        <tr bgcolor="white">
            <td>
                <h3>{{ button_name }}</h3>
                <table>
                    <tr>
                        <td>Bank</td>
                        <td>
                            <input type="number" name="button_bank-{{ button_name }}" step="1" value="{{ button.bank }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>
                            <input type="number" name="button_number-{{ button_name }}" step="1" value="{{ button.number }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Test</td>
                        <td>
                            <input type="submit" name="test_button_{{ button_name }}"
                                   formaction="/buttons/{{ button_name }}/test" value="{% if button.state == 'up' %}APPUI BOUTON{% else %}RELACHE BOUTON{% endif %}">
                            Echo visuel <input type="checkbox" name="echo_button-{{ button_name }}" {% if
                                               button.visual_echo %}checked{% endif %}>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <h3>Companion API</h3>
                <table>
                    <tr>
                        <td>IP</td>
                        <td>
                            <input type="text" name="companion_ip" value="{{ companion.ip }}">
                        </td>
                    </tr>
                    <tr>
                        <td>Port</td>
                        <td>
                            <input type="text" name="companion_port" value="{{ companion.port }}">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="white">
            <td>
                <input type="submit" name="submit_button" value="Submit">
            </td>
        </tr>
        <tr>
            <td>
                <a href="/home">Accueil</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
