<!DOCTYPE html>
<html>
<head>
    <title>Status {{ hostname }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/acp.css') }}" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table id="cadre">
    <tr>
        <td>
            <h3>Status du boitier {{ hostname }}</h3>
        </td>
    </tr>
    <tr>
        <td align="right">
            <hr/>
            <h4>BOUTONS</h4>
            <a href="/buttons">Configurer</a>
        </td>
    </tr>
    {% for button in buttons %}
    <tr bgcolor="white">
        <td>
            <h3>{{ button.name }}</h3>
            <table>
                <tr>
                    <td>Bank :</td>
                    <td>
                        {{ button.bank }}
                    </td>
                </tr>
                <tr>
                    <td>Number :</td>
                    <td>
                        {{ button.number }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td align="right">
            <hr>
            <h4>TALLY</h4>
            <a href="/tally">Gérer</a>
        </td>
    </tr>
    {% for tally in tallies %}
    <tr bgcolor="white">
        <td>
            <h3>{{ tally.name }}</h3>
            <table>
                <tr>
                    <td>Etat:</td>
                    <td>{{ tally.current_status }}</td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
